<ul class="block_list">
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-3">
        <%= user.email %>
      </div>
      <div class='col-md-3'>
        <%= render "unblock", user: user %>
      </div>
    </div>
  <% end %>
</ul>